<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
</appender>

<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/tmp/access-1.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>/tmp/access-%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>30</maxHistory>
    </rollingPolicy>

    <encoder>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
</appender>

<logger name="Hr.Mgr.domain" level="info"/>
<logger name="Hr.Mgr.domain.aspect" level="debug"/>
<logger name="org.apache.kafka" level="warn"/>
<logger name="org.springframework.data.redis" level="warn"/>
<logger name="org.hibernate.SQL" level="off"/>
<logger name="org.hibernate.type.descriptor.sql" level="off"/>
<logger name="org.springframework.jdbc.core" level="warn"/>

<root level="info">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
</root>
</configuration>